
	#wrapper {
        height: 200px;
        width: 300px;
        overflow-y: scroll;
      }
  
      #contents {
        background-color: cadetblue;
      }

html {
    margin-left: 8px;
    margin-right: 8px;
}

.top{
    line-height: 0;
}

.aida1{
    font-size: smaller;
    line-height: 0;
    margin-left: 16px;
    /* display: flex; */
}

.keikoku{
    font-size: small;
    margin-left: 8px;
    margin-left: 16px;
}

div.keikoku {
    
    padding-top: 16px;
    font-size: small;
    /* margin-left: 8px; */
    margin-left: 80px;
    /* border:1px solid lightgray; */
    border: 0;
    box-sizing: border-box;
  
    /* text-align: center; */
    line-height: 0;
    font-size: small;
    width: auto;
    height: auto;
    display: flex;
  }

/* div.keikoku {
    width:60%; height:70px;
    margin:5px; 
    border:1px solid lightgray;
    background-color:lightgray;
    font-size: small;
    margin-left: 8px;
    margin-left: 16px;
    } */
    

/* .keikoku{
    font-size: small;
    margin-left: 8px;
    margin-left: 16px;
}
*/
/* 
.keikoku span{
    position: absolute;
  color: red;
}
   */

.icon {
    color: gray;
    font-size: small;
    line-height: 0;
    position: relative;
    padding-left: 70px;
    margin-bottom: 50px;
}
.icon::before {
    content: url(../img/bikkuri.png);
    display: block;
    height: 10px;
    width: 10px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

div.mokuji {
    font-size: medium;
    line-height: 3px;
    width:10%; height:auto;
    margin:5px; padding:10px; border:0px solid black;
    background-color:lightgray;
   
}

div.mokuji_contents{
    /* display: none; */
}

div.bunpu{
    line-height: 0px;
}

div.keitai{
    line-height: 0px;
}

div.seitai{
    line-height: 0px;
}

div.bunrui{
    line-height: 0px;
}

/* 
rgb(211,211,164) */


.mokuji_info{
    display: flex;
}

.syousai{
    line-height: 24px;
}
/* 
p.nomal{
    word-wrap: break-word;
}
  
p.break{
    word-wrap: break-word;
} */

p.b-nomal{
    word-break: normal;
  }
 

.profile{
    line-height: 0;
}
 